@import "./mixins.less";

ul li {
  list-style: none;
}

ul.menus {
  width: 100%;
  overflow: hidden;
  background: #fff;
  @height: 50px;
  height: @height;
  li.menu-item {
    line-height: @height;
    width: 60px;
    float: left;
    text-align: center;
    color: #000;
    @bgc: rgba(204, 204, 204, 0.3);
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      //color: blue;
      &.active {
        background-color: @bgc;
      }
      &:hover {
        background-color: @bgc;
      }
    }
  }
  li.logo {
    float: left;
    width: 150px;
    padding: 5px 15px;
  }
  margin-bottom: 10px;
  .border-bottom();
}

@min-height: 700px;

div.content {
  overflow: hidden;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

div.content-left {
  //.hero();
  //.border();
  width: 69%;
  min-height: @min-height;
  float: left;
}

div.content-right {
  .border();
  width: 30%;
  min-height: @min-height;
  float: right;
}
